<body style="display: flex;flex-direction: column; justify-content: center; align-items: center; height: 100vh;background-image: url('turbo-background.jpg'); background-size: cover; background-position: center;">
 
    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <button onclick="window.location.reload()">Run Program</button>
        <div id="terminal"></div>
    </div>
    

    <script>
        var term = new Terminal({
            cols: 113,
            rows: 34
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>